body{
    margin: 0;
    padding: 0;
}
.mainHeading{
    font-size: medium;
}
.container{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
}
